@import "../../styles/variables.scss";
@import "../../styles/button.scss";

.recommended_topics {
  &__header {
    margin: 24px 0;
  }

  &__more {
    margin: 24px 0 16px 0;
    display: flex;
    justify-content: center;

    hr {
      width: 100%;
      border: 1px solid $bg-border;
      height: 1px;
      margin-top: auto;
      margin-bottom: auto;
    }

    button {
      margin: 0 14px;
      padding: 0 12px 0 16px;

      div {
        display: inline-flex;
        height: 12px;
        width: 12px;
        justify-content: center;
        align-content: center;
        margin-left: 11px;
      }
    }
  }
}