@import "../../styles/variables.scss";

.container {
  min-width: 24px;
  width: 100%;
  display: inline-block;
  position: relative;

  &::after {
    padding-top: 100%; /* 1:1 ratio */
    display: block;
    content: '';
  }
}

.circular_progress {
  --progress_center: visible;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  background: conic-gradient($bg-success 3.6deg, $bg-ghost 0deg);
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    visibility: var(--progress_center);
    content: "";
    height: 80%;
    width: 80%;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: $bg-default;
  }

  svg {
    height: 80%;
    width: 80%;
    fill: $bg-success;

  }
}

.progress_value {
  position: absolute;
  text-align: center;

  &__text {
    color: $typo-secondary;
  }
}


